.app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 1200px;
}

#row {
  display: flex;
  justify-content: space-around;
}

img {
  width: 162px;
  transition: 2s width;
}

ul li {
  transition: 2s opacity;
}

.feature, header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#burn {
  margin-top: 35px;
}

#burn * {
  margin: 5px;
}
